

    <main id="portfolio">
        <div class="main-div">
            <div class="headline-div">
                <h2>My Work</h2>     
            </div>

            <div class="buttons-div">
                <button [ngClass]="btnAll ? 'button-active': 'button-disabled'" (click)="showCategory('all')" (click)="showAll()">All</button>
                <button [ngClass]="btnAng ? 'button-active': 'button-disabled'" (click)="showCategory('angular')" (click)="showAngular()">Angular</button>
                <button [ngClass]="btnJS ? 'button-active': 'button-disabled'" (click)="showCategory('javascript')" (click)="showJS()">JavaScript</button>
            </div>     

            <div class="projectMainDiv" id="projects-main-div">
                <div class="div-to-position-the-projects-mid">
                    <div *ngFor="let project of filteredProjects" class="project-container" data-aos-offset="200" data-aos="zoom-in-right">
                        <img *ngIf="projects"  class="project-img" src="{{project.img}}" alt="">             
                        <div class="project-overlay">
                            <h3>{{project.name}}</h3>
                            <p>{{project.category}} - {{project.text}}</p>
                            <a target="_blanc" href="{{project.url}}">Try Out</a>
                        </div>                                       
                    </div>
                </div> 
            </div>
        </div>  
    </main>
    



