main{
    background-color: #141D2F;
    padding-bottom: 100px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
    
    .purple-shadow-img{
        position: absolute;
        left: -100px;
        bottom: 300px;
        width: 800px;
    }

    .green-shadow-img{
        position: absolute;
        right: -200px;
        bottom: 0px;
        width: 600px;
    }

    .main-div{
        position: relative;
        .headline-main-div{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                margin: 0;
            }

            .headline-div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 3030px;
                line-height: 0.5;
                

                h1{
                    font-size: 90px;
                }

                .first-hr{
                    border: 2px solid #9747FF;
                    width: 200px;
                    margin-right: 20px;
                }

                .second-hr{
                    border: 2px solid #9747FF;
                    width: 1300px;
                    margin: 0 0 0 20px;
                }
            }
        }

        .projects-main-div{
            margin: 0px 100px;

            .project-div-flex1{
                display: flex;
                justify-content: space-evenly;

                img{
                    width: 450px;
                    z-index: 1;
                }

                .project-description{
                    margin-top: 50px;
                    width: 900px;
                    z-index: 1;

                    .headline-div{
                        
                        h3{
                            color: #9747FF;
                            font-size: 32px;
                        }
    
                        p{
                            color: #70E61C;
                            font-size: 23px;
                            z-index: 1;
                        }

                        .description{
                            color: white;
                        }
                    }

                    .div-btn{
                        .live-test-btn{
                            background-color: #9747FF;
                            border: 1px solid #9747FF;
                            width: 152px;
                            height: 58px;
                            padding: 15px, 30px, 15px, 30px;
                            border-radius: 10px;
                            color: white;
                            font-size: 23px;
                            margin-right: 80px;

                            &:hover{
                                cursor: pointer;
                                background-color: #70E61C;
                                border: 1px solid #70E61C;
                            }
                        }

                        .github-btn{
                            background: none;
                            border: 1px solid #70E61C;
                            width: 152px;
                            height: 58px;
                            padding: 15px, 30px, 15px, 30px;
                            border-radius: 10px;
                            color: white;
                            font-size: 23px;

                            &:hover{
                                cursor: pointer;
                                background-color: #70E61C;
                            }
                        }
                    }
                }
            }

            .project-div-flex2{
                display: flex;
                justify-content: space-evenly;
                flex-direction: row-reverse;

                img{
                    width: 450px;
                    z-index: 1;
                }

                .project-description{
                    margin-top: 50px;
                    width: 900px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: end;
                    z-index: 1;

                    .headline-div{
                        h3{
                            color: #9747FF;
                            font-size: 32px;
                        }
    
                        p{
                            color: #70E61C;
                            font-size: 23px;
                        }

                        .description{
                            color: white;
                        }
                    }

                    .div-btn{
                        .live-test-btn{
                            background-color: #9747FF;
                            border: 1px solid #9747FF;
                            width: 152px;
                            height: 58px;
                            padding: 15px, 30px, 15px, 30px;
                            border-radius: 10px;
                            color: white;
                            font-size: 23px;
                            margin-right: 80px;

                            &:hover{
                                cursor: pointer;
                                background-color: #70E61C;
                                border: 1px solid #70E61C;
                            }
                        }

                        .github-btn{
                            background: none;
                            border: 1px solid #70E61C;
                            width: 152px;
                            height: 58px;
                            padding: 15px, 30px, 15px, 30px;
                            border-radius: 10px;
                            color: white;
                            font-size: 23px;

                            &:hover{
                                cursor: pointer;
                                background-color: #70E61C;
                            }
                        }
                    }
                }
            }
        }
    }    
}  
    

    @media all and (max-width: 800px){
        .imprint-and-socialmedia{
            display: flex;
            justify-content: space-evenly !important;
            flex-direction: column-reverse;
    
            .social-media-div{
                margin: 0 !important;
            }
    
            .imprint-div{
                margin: 0 !important;
            }
    
            img{
                margin: 0px 20px !important;
                width: 40px !important;
            }
        }
    }
    
    @media all and (max-width: 450px){
        .imprint-and-socialmedia{
            display: flex;
            justify-content: space-evenly !important;
            flex-direction: column-reverse;
            font-size: 0.80em !important;
    
            .social-media-div{
                margin: 0 !important;
            }
    
            .imprint-div{
                margin: 0 !important;
            }
    
            img{
                margin: 0px 20px !important;
                width: 35px !important;
            }
        }
    }

@media all and (max-width: 1020px){
    h2{
        font-size: 2em !important;
    }

    .buttons-div{
        button{
            width: 135px !important;
            font-size: 0.80em !important;
        }
    }

    .button-active{
        width: 80px !important;
    }

    .div-to-position-the-projects-mid{
        width: 90% !important;
    }
}

@media all and (max-width: 800px){
    h2{
        font-size: 2em !important;
    }

    .buttons-div{

        button{
            width: 100px !important;
            font-size: 0.80em !important;
        }
    }
}

@media all and (max-height: 700px){
    .project-overlay{
        h3{
            font-size: 1em !important;
        }

        p{
            font-size: 0.85em !important;
        }

        a{
            font-size: 0.65em !important;
            padding: 7.5px 20px !important;
        }
    }
}

@media all and (max-width: 600px){
    .div-to-position-the-projects-mid{
        display: flex;
        flex-direction: column-reverse;

        .project-container{
            width: 100% !important;
            margin: 20px 0px !important;
        }
    }

    h2{
        font-size: 1.5em !important;
    }
}

@media all and (max-width: 400px){
    .buttons-div{
        button{
            font-size: 0.65em !important;
            margin: 15px 3px !important;
            padding: 12.5px !important;
        }
    }
}