

    <main id="portfolio">
        <div class="main-div">
            <div class="headline-div">
                <h2>My Work</h2>     
            </div>
   
            <div class="buttons-div">
                <button (click)="showAllProjects()">All</button>
                <button (click)="showAngularProjects()">Angular</button>
                <button (click)="showJavascriptProjects()">JavaScript</button>
            </div>     
  
            <div class="projectMainDiv" id="projects-main-div">
              
            </div>
        </div>  
    </main>
    



