main{
    background-color: black;
    padding-bottom: 100px;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;

    .main-div{
        .headline-div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 15vh;

            h2{
                margin: 0;
                color: white;
                font-size: 2.5em;
                font-weight: 100;
            }
        }
        
        .buttons-div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: auto;
            z-index: 22222222;

            button{
                border: none;
                background: none;
                border: 1px #2DFCD8 solid;
                color: white;
                font-size: 15px;
                width: 150px;
                padding: 20px 0px;
                margin: 20px 10px;
                transition: 200ms ease;
                cursor: pointer;
                font-family: "Raleway", sans-serif;

                &:hover{
                    background-color: #FA2759;
                    color: #2DFCD8;
                }
            }
        } 
    }   

    .projectMainDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.project-container{
    width: 40%;
    height: 30vh;
    position: relative;
    margin: 20px;
    
    img{
        filter: brightness(90%);
        width: 100%;
        height: 100%;
    }
}

.div-to-position-the-projects-mid{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.project-container:hover .project-overlay{
    visibility: visible;
    z-index: 1;
}

.project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-overlay{
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.651);
    z-index: -1;

    h3{
        color: #2DFCD8;
        padding: 0px 30px;
        text-align: center;
    }
   
    p{
        text-align: center;
        padding: 0px 10px;
        color: white;
    }

    a{
        text-decoration: none;
        color: #2DFCD8;
        border: 1px solid #2DFCD8;
        padding: 10px 30px;
        font-size: 15px;

        &:hover{
            background-color: #2DFCD8;
            color: black;
        }
    }
}

.button-active{
    background-color: #2DFCD8 !important;
    cursor: not-allowed !important;
    padding: 17.5px 0px !important;
    width: 135px !important;

    &:hover{
        color: white !important;
    }
}

.button-disabled{
    background: none !important;
}

@media all and (max-width: 1020px){
    h2{
        font-size: 2em !important;
    }

    .buttons-div{
        button{
            width: 135px !important;
            font-size: 0.80em !important;
        }
    }

    .button-active{
        width: 80px !important;
    }

    .div-to-position-the-projects-mid{
        width: 90% !important;
    }
}

@media all and (max-width: 800px){
    h2{
        font-size: 2em !important;
    }

    .buttons-div{

        button{
            width: 100px !important;
            font-size: 0.80em !important;
        }
    }
}

@media all and (max-height: 700px){
    .project-overlay{
        h3{
            font-size: 1em !important;
        }

        p{
            font-size: 0.85em !important;
        }

        a{
            font-size: 0.65em !important;
            padding: 7.5px 20px !important;
        }
    }
}

@media all and (max-width: 600px){
    .div-to-position-the-projects-mid{
        display: flex;
        flex-direction: column-reverse;

        .project-container{
            width: 100% !important;
            margin: 20px 0px !important;
        }
    }

    h2{
        font-size: 1.5em !important;
    }
}

@media all and (max-width: 400px){
    .buttons-div{
        button{
            font-size: 0.65em !important;
            margin: 15px 3px !important;
            padding: 12.5px !important;
        }
    }
}