<header>
    <img class="logo" src="assets/img/logo.svg" alt="">

    <div class="a-links">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#portfolio">Portfolio</a>
    </div>

    <div class="menu-div">
        <img (click)="openMenu()" src="assets/img/menu.ico" alt="">

        <div id="menuLinks" class="menu-links">
            <a  href="#home" (click)="closeMenu()">Home</a>
            <a (click)="closeMenu()" href="#about">About</a>
            <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
        </div>
    </div>
</header>
