<header>
    <img routerLink="" class="logo" src="assets/img/logo1.svg" alt="">

    <div class="a-links">
        <a href="#home">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#portfolio">PORTFOLIO</a>
    </div>

    <div class="menu-div">
        <img (click)="openMenu()" src="assets/img/menu.ico" alt="">

        <div id="menuLinks" class="menu-links">
            <a  href="#home" (click)="closeMenu()">Home</a>
            <a (click)="closeMenu()" href="#about">About</a>
            <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
        </div>
    </div>
</header>
