
header{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
   
    img{
        width: 130px;
    }
  
    .a-links{
        a{
            margin: 0px 20px;
            text-decoration: none;
            color: white;
            font-size: 1.5em;

            &:hover{
                color: #FA2759;
            }
        }
    }
}

@media all and (max-width: 800px) {

    img{
        margin: 0 !important;
    }
}