
<main> 
    <div class="imprint-and-socialmedia">
        <div class="imprint-div">
            <span class="name">Alex<span style="color: #9747FF;">a</span>ndr<span style="color: #70E61C;">u</span></span>
            <a routerLink="imprint">Impressum</a>
        </div>

        <div class="copyright">
            © 2024 Alexandru Todor
        </div>

        <div class="social-media-div">
            <a target="_blanc" href="https://github.com/alextodor461"><img src="assets/img/github.png" alt=""></a>
			<a target="_blanc" href="https://www.linkedin.com/in/alexandru-andrei-todor-a371a0236/"><img src="assets/img/linkedin.png" alt=""></a>
			<a target="_blanc" href= "mailto:alex_todor@yahoo.com"><img src="assets/img/email.png" alt=""></a>
        </div>
    </div> 
</main>
