main{
    background-color: black;
    height: 90vh;
    .main-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
        width: 100%;
        background-color: black;
  
        h1{
            font-size: 5em;
            color: white;
        }
    
        img{
            width: 20em;
            height: 20em;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 150px;
        }
    
        .contact-me-div{
            margin-left: 150px;
            
            button{
                border: none;
                padding: 20px 60px;
                color: #2DFCD8;
                background: none;
                border: 1.5px solid #2DFCD8;
                font-size: 20px;
                transition: 200ms ease;
                cursor: pointer;
    
                &:hover{
                    background-color: #2DFCD8;
                    color: white;
                }
            }
        }
    }



}
