<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<main id="home">
        <div class="main-div">
			<img class="photo-shadow" src="assets/img/photo shadows.png" alt="">
			<img class="me-img" src="assets/img/IMG_2124.png" alt="">
			<div class="greeting-main-div">
				<div class="greeting">
					<span class="rotated-span">I am</span>
					<span class="description"> <span class="name-span">Alexandru Todor</span> <br> <span class="position">Junior Fullstack Developer</span></span>  
				</div>
				<button class="lets-talk-btn">Let´s Talk</button>
			</div>
        </div>  
		<img class="vector" src="assets/Vector.png" alt="">
		<div class="social-media-main-div">
			<div class="social-media-and-email">
				<hr>
				<div class="social-media-icons">
					<a target="_blanc" href="https://github.com/alextodor461"><img src="assets/img/github.png" alt=""></a>
					<a target="_blanc" href="https://www.linkedin.com/in/alexandru-andrei-todor-a371a0236/"><img src="assets/img/linkedin.png" alt=""></a>
					<a target="_blanc" href= "mailto:alex_todor@yahoo.com"><img src="assets/img/email.png" alt=""></a>
				</div>
					
				<div class="email-div">
					<a target="_blanc" href= "mailto:alex_todor@yahoo.com">alex_todor@yahoo.com</a>
				</div>
			</div>

			<div class="rotated-scroll-down">
				<span>Scroll down <img src="assets/img/arrowdown.png" alt=""></span>
			</div>
		</div>
    </main>
</body>
</html>    
	
	


