main{
    background-color: black;
    height: 90vh;
    scroll-behavior: smooth;
   
    .main-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
        width: 100%;
        background-color: black;
  
        h1{
            font-size: 4em;
            color: white;
            margin-right: 25px;
        }
   
        img{
            width: 25%;  
            margin-right: 150px;
        }
    
        .contact-me-div{
            margin-left: 150px;
           
            a{
                padding: 20px 60px;
                color: #2DFCD8;
                text-decoration: none;
                border: 1.5px solid #2DFCD8;
                font-size: 20px;
                transition: 200ms ease;
                cursor: pointer;
    
                &:hover{
                    background-color: #2DFCD8;
                    color: white;
                }
            }
        }
    }

    .down-arrow-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 25vh;
        img{
            filter: invert(100);
            width: 60px;
        }
    }
}


@media all and (max-width: 800px){

    .main-div{
        display: flex;
        justify-content: center !important;
        flex-direction: column-reverse;

        h1{
            font-size: 3em !important;
        }

        .contact-me-div{
            margin: 0 !important;
        }

        img{
            margin: 0 !important;
            width: 30% !important;
            height: 30% !important;
            object-fit: contain;
        }
    }

    .down-arrow-div{
        img{
            width: 40px !important;
        }
    }
}

@media all and (max-width: 600px){
    .main-div{
        h1{
            font-size: 2.5em !important;
            margin-right: 0 !important;
        }
        
        .contact-me-div{
            margin: 20px !important;
        }
    }
}

@media all and (max-width: 450px){
    .main-div{
        h1{
            font-size: 2em !important;
        }
    }
    
}