main{
    background-color: black;
    height: 90vh;
    scroll-behavior: smooth;
   
    .main-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70vh;
        background-color: black;
 
        h1{
            font-size: 4em;
            color: white;
            margin-right: 25px;
        }
  
        img{
            width: 25%;  
            margin-right: 150px;
        }
    
        .contact-me-div{
            margin-left: 150px;
            margin-top: 100px;
            a{
                padding: 20px 60px;
                color: #2DFCD8;
                text-decoration: none;
                border: 1.5px solid #2DFCD8;
                font-size: 20px;
                transition: 200ms ease;
                cursor: pointer;
    
                &:hover{
                    background-color: #2DFCD8;
                    color: white;
                }
            }
        }
    }

    .down-arrow-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        display: none;
        img{
            filter: invert(100);
            width: 60px;
        }
    }
}

@media all and (max-width: 800px){

    .main-div{
        display: flex;
        justify-content: center !important;
        flex-direction: column-reverse;

        h1{
            font-size: 3em !important;
        }

        .contact-me-div{
            margin: 0 !important;
        }

        img{
            margin: 0 !important;
            width: 30% !important;
            height: 30% !important;
            object-fit: contain;
        }
    }

    .down-arrow-div{
        img{
            width: 40px !important;
        }
    }
}

@media all and (max-width: 600px){
    .main-div{
        h1{
            font-size: 2.5em !important;
            margin-right: 0 !important;
        }
        
        .contact-me-div{
            margin: 20px !important;
        }
    }
}

@media all and (max-width: 450px){
    .main-div{
        h1{
            font-size: 2em !important;
        }   

        img{
            margin-top: 50px !important;
            width: 40% !important;
        }

        a{
            padding: 10px 30px !important;
            font-size: 1em !important;
        }
    }
    
    .down-arrow-div{
        display: none !important;
    }
}