
<main id="contact">
    <div class="contact-div">
        <h2>Contact Me</h2>
        <p>Get in touch via the form below, or by emailing me <a href= "mailto:alex_todor@yahoo.com">alex_todor@yahoo.com</a></p>
    </div>

    <div class="form-div">
        <form action="">
            <label for="">Name</label>
            <input required type="text" placeholder="Enter your Name">

            <label for="">Email</label>
            <input required type="mail" placeholder="Enter your Email address">

            <label for="">Message</label>
            <textarea required placeholder="Enter your Message" name="" id="" cols="30" rows="10"></textarea>    
              
            <a href="">Send</a>          
        </form>
    </div>
</main>
