
<main id="contact">
    <div class="contact-div">
        <h2 data-aos="fade-right">- Contact me -</h2>
        <p data-aos="fade-left">Get in touch via the form below, or by emailing me <a href= "mailto:alex_todor@yahoo.com">alex_todor@yahoo.com</a></p>
    </div>

    <div class="form-div">
        <form [formGroup]="form" action="https://alextodor.de/alextodor/send_mail.php" method="POST">
            <label data-aos="fade-right" for="">Name*</label>
            <input formControlName="name" data-aos="fade-right" required type="text" name="name" placeholder="Enter your Name">
            <ng-container *ngIf="form.controls['name'] as NameControl">
                <p *ngIf="NameControl.touched && NameControl.errors?.['required']">Name is required*</p>
                <p *ngIf="NameControl.touched && NameControl.errors?.['maxlength']">There can be a maximum of five hundred letters*</p>
            </ng-container>

            <label data-aos="fade-left" for="">Email*</label>
            <input formControlName="email" data-aos="fade-left" required type="email" name="email" placeholder="Enter your Email address">
            <ng-container *ngIf="form.controls['email'] as EmailControl">
                <p *ngIf="EmailControl.touched && EmailControl.errors?.['required']">Email is required*</p>
                <p *ngIf="EmailControl.touched && EmailControl.errors?.['pattern']">Please give a valid email address*</p>
            </ng-container>

            <label data-aos="fade-right" for="">Message*</label>
            <textarea formControlName="message" data-aos="fade-right" required placeholder="Enter your Message" type="text" name="message" cols="30" rows="10"></textarea>
            <ng-container *ngIf="form.controls['message'] as MessageControl">
                <p *ngIf="MessageControl.touched && MessageControl.errors?.['required']">Message is required*</p>
                <p *ngIf="MessageControl.touched && MessageControl.errors?.['minlength']">Please enter at least five letters*</p>
                <p *ngIf="MessageControl.touched && MessageControl.errors?.['maxlength']">There can be a maximum of five hundred letters*</p>
            </ng-container>    

            <button type="submit" href="">Send</button>          
        </form>
    </div>
</main>
