
<main id="contact">
    <div class="contact-div">
        <h2>Contact Me.</h2>
        <p>Get in touch via the form below, or by emailing me <a href= "mailto:alex_todor@yahoo.com">alex_todor@yahoo.com</a></p>
    </div>

    <div class="form-div">
        <form action="" method="POST">
            <label for="">Name</label>
            <input required type="text" name="name" placeholder="Enter your Name">

            <label for="">Email</label>
            <input required type="email" name="email" placeholder="Enter your Email address">

            <label for="">Message</label>
            <textarea required placeholder="Enter your Message" type="text" name="message" cols="30" rows="10"></textarea>    

            <button type="submit" href="">Send</button>          
        </form>
    </div>
</main>
