
main{
    background-color: #131313;
    height: 90vh;
    overflow-x: hidden;

    .about-me-header{ 
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        padding: 60px 0px;
        border-bottom: 1px solid #2DFCD8;

        img{
            width: 20%;
            object-fit: contain;
        }

        .about-me-description{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 70%;

            h2{
                color: white;
                font-size: 2.5em;
            }

            p{
                color: white;
                font-size: 1.25em;
            }
        }
    }   
}

.whole-details-div{
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .detail-div{
        text-align: center;
        width: 15%;
        color: white;
        margin: 20px 40px;

        img{
            width: 75px;
        }
    }
}

@media all and (max-width: 1150px) {
    .whole-details-div{

        img{
            width: 60px !important;
        }

        h3{
            font-size: 1em !important;
        }
    }
}


@media all and (max-width: 950px) {
    main{
        height: auto;

        .whole-details-div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 50px;
            width: 100%;
        }
    
        .detail-div{
            width: 30% !important;
    
            h3{
                font-size: 15px;
            }
    
            img{
                width: 50px !important;
            }
        }
    
        .about-me-header{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            width: 90% !important;
    
            img{
                width: 40% !important;
            }
        }
    }
}

@media all and (max-width: 700px){
    .detail-div{
        img{
            width: 40px !important;
        }

        h3{
            font-size: 12px !important;
        }

        p{
            font-size: 0.85em !important;
        }
    }
}

@media all and (max-width: 600px){
    main{
        height: auto;

        .about-me-header{
            border: none;
            
            p{
                margin: 0 !important;
                width: auto;
            }
        }
    }

    .whole-details-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .detail-div{
            width: 50% !important;
        }
    }
}

@media all and (max-width: 400px){
    .about-me-header{
        img{
            width: 50% !important;
        }
    }
}

@media all and (max-height: 910px){
    .about-me-header{
        padding: 30px 0px !important;

        .about-me-description{
            h2{
                font-size: 2em !important;
            }

            p{
                font-size: 1em !important;
            }
        }
    }
    .detail-div{
        img{
            width: 3.5em !important;
        }

        h3{
            font-size: 1em !important;
        }

        p{
            font-size: 0.90em !important;
        }
    }
}

@media all and (max-height: 740px){
    .whole-details-div{
        margin-top: 25px !important;
    }

    .about-me-header{
        padding: 30px 0px !important;

        .about-me-description{
            h2{
                font-size: 1.5em !important;
            }

            p{
                font-size: 0.9em !important;
            }

            img{
                width: 17.5% !important;
            }
        }
    }
    .detail-div{
        img{
            width: 2.5em !important;
        }

        h3{
            font-size: 0.9em !important;
        }

        p{
            font-size: 0.80em !important;
        }
    }
}