
<main id="about">
    <div class="about-me-header">
        <img src="assets/img/me.png" alt="">

        <div class="about-me-description">
            <h2>- ABOUT ME -</h2>
            <p>'I've always been interested in programming. I love to develop software and to push my limits or even beyond. That's why I want to do it professionally.'</p>
        </div>
    </div>

    <div class="whole-details-div">
        <div data-aos="fade-right" class="detail-div">
            <div>
                <img src="assets/img/walk.png" alt="">
            </div>

            <div>
                <h3>MY JOURNEY BEGAN</h3>
            </div>

            <div>
                <p>I am currently working as a temp at the hospital and have decided to give coding a try.</p>
            </div>
        </div>

        <div data-aos="fade-right" class="detail-div">
            <div>
                <img src="assets/img/heart.png" alt="">
            </div>

            <div>
                <h3>I REALIZED SOMETHING</h3>
            </div>

            <div>
                <p>The fun started when I realized that I was getting better at programming and that I liked the challenges that programming offered me.</p>
            </div>
        </div>

        <div data-aos="fade-left" class="detail-div">
            <div>
                <img src="assets/img/search.png" alt="">
            </div>

            <div>
                <h3>TRAINED BY PROFESSIONALS</h3>
            </div>

            <div>
                <p>I searched and found the developer Academy that taught me how to code.</p>
            </div>
        </div>

        <div data-aos="fade-left" class="detail-div">
            <div>
                <img src="assets/img/plane.png" alt="">
            </div>

            <div>
                <h3>THE REAL CHALLENGE BEGINS NOW</h3>
            </div>

            <div>
                <p>Since I noticed that I enjoy challenges more, I decided to work as a software developer.</p>
            </div>
        </div>
    </div>
</main>
