main{
    height: 85vh;
    background-color: #141D2F;
    color: white;
    display: flex;
    justify-content: center;

    .imprint-div{
        width: 100%;
        padding-left: 150px;
        margin-top: 12.5vh;
        h1{
            margin: 0;
        }

        a{
            color: white;
        }
    }   
}

@media all and (max-width: 950px){
    .imprint-div{
        padding: 0px 20px !important;
    }
}

@media all and (max-height: 750px){
    .imprint-div{
        h1{
            font-size: 1.5em !important;
        }

        p{
            font-size: 0.85em !important;
            margin: 5px 0px !important;
        }
    }
}