
<main>
    <div class="imprint-div">
        <h1>Imprint</h1>
        <br>
        <p>Information according to § 5 TMG</p>
        <p>Alexandru-Andrei Todor</p>
        <p>Herrschafftsacker 2</p>
        <p>79312, Kollmarsreute</p>
        <br>
        <p><b>Represented by:</b></p>
        <p>Alexandru-Andrei Todor</p>
        <br>
        <p><b>Contact:</b></p>
        <p>Telefon: 015233628685</p>
        <p>E-Mail: alex_todor@yahoo.com</p>
        <p>Imprint from <a href="https://www.impressum-generator.de/">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/">Kanzlei Hasselbach, Frankfurt</a></p>
    </div>
</main>
