
<main id="skills">
      <img class="green-shadow" src="assets/img/Green shadow photo.png" alt="">
       <div class="skills-main-div">
          <div class="skill-div">
            <img src="assets/img/Angular.png" alt="">
            <p>Angular</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/Angular.png" alt="">
            <p>Angular</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/Javascript.png" alt="">
            <p>Javascript</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/html.png" alt="">
            <p>HTML</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/Firebase.png" alt="">
            <p>Firebase</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/git.png" alt="">
            <p>Git</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/css.png" alt="">
            <p>CSS</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/Api.png" alt="">
            <p>REST-Api</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/scrum.png" alt="">
            <p>Scrum</p>
          </div>

          <div class="skill-div">
            <img src="assets/img/Frame.png" alt="">
            <p>Material Design</p>
          </div>
       </div>

       <div class="headline-main-div">
          <div class="headline-div">
            <h1>My Skills</h1>
            <hr>
          </div>

          <div class="description-div">
            <p>I have gained experience in building projects with various front end technologies and concepts.</p>
            <button class="get-in-touch-btn">Get in touch</button>
          </div>
       </div>
</main>
