
main{
    background-color: black;
    height: 90vh;
    scroll-behavior: smooth;

    .headline-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 15vh;

        h2{
            margin: 0;
            color: white;
            font-size: 2.5em;
        }
    }

    .whole-skills-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .skills-div{
        display: flex;
        justify-content: center;
        height: 70vh;
        flex-wrap: wrap;

        .skill-div{
            background-color: white;
            border-radius: 10px;
            margin: 20px 10px;
            height: 20%;
            width: 25%;
            opacity: 1;

            p{
                color: black;
                font-size: 1.25em;
                text-align: center;
            }

            img{
                width: 30px;
            }

            .icon-main-div{
                display: flex;
                justify-content: center;
            }

            .icon-div{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 50px;
                width: 50px;
                border-radius: 100%;
                box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
                margin-top: -25px;
                background-color: white;
            }

            .skill-name{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 70%;
            }
        }
    }
}



.fade{
    animation: animate-skills 3s ease-in-out;
}

@keyframes animate-skills{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@media all and (max-width: 800px){
    h2{
        font-size: 2em !important;
    }

    p{
        font-size: 1em !important;
    }
}


@media all and (max-width: 600px){
    h2{
        font-size: 2em !important;
    }

    .skill-div{
        border-radius: 5px !important;

        p{
            font-size: 0.80em !important;
        }
    }
}

@media all and (max-width: 400px){
    .skill-div{
        height: 15% !important;

        .icon-div{
            width: 40px !important;
            height: 40px !important;
            margin-top: -20px !important;
    
            img{
                width: 20px !important;
            }
        }
    
        .skill-name{
            p{
                font-size: 0.70em !important;
            }
        }
    }
}