
<main id="skills">
    <div class="headline-div">
        <h2>My Skills</h2>
    </div>

    <div class="whole-skills-div">
        <div class="skills-div">
            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/java script.png" alt="">
                    </div>
                </div>
             
                <div class="skill-name">
                    <p>Javascript</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/angular.png" style="color: black;" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>Angular</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/css.png" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>HTML/CSS</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/Group 226.png" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>SCRUM</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/git.png" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>Git</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/design-thinking.png" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>Design <br> Thinking</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/api.png" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>Rest API</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/test-icon.png" alt="">
                    </div>
                </div>
               
                <div class="skill-name">
                    <p>Test <br> Automation</p>
                </div>    
            </div>

            <div class="skill-div">
                <div class="icon-main-div">
                    <div class="icon-div">
                        <img src="assets/img/database.png" alt="">
                    </div>
                </div>
                
                <div class="skill-name">
                    <p>Databases</p>
                </div>    
            </div>
        </div>
    </div>
</main>
