
main{
    background-color: #141D2F;
    scroll-behavior: smooth;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0 0 0 100px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .green-shadow{
        position: absolute;
        top: 200px;
        left: -250px;
        width: 600px;
        height: 600px;
        object-fit: contain;
    }

    .skills-main-div{
        display: flex;
        display: flex;
        flex-wrap: wrap;
        max-width: 820px;
        height: 375px;
        z-index: 1;

        .skill-div{
            margin-right: 80px;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 125px;

            p{
                margin: 0;
            }
        }
    }

    .headline-main-div{
        width: 550px;

        .headline-div{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            h1{
                font-size: 90px;
            }

            hr{
                border: 2px solid #9747FF;
                width: 100px;
                margin: 0 0 0 20px;
            }
        }

        .description-div{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                margin: 0;
                padding: 0 85px 0 0;
            }

            .get-in-touch-btn{
                background-color: #70E61C;
                border: none;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                color: white;
                margin-top: 20px;
                font-size: 23px;

                &:hover{
                    cursor: pointer;
                    background-color: #9747FF;
                }
            }
        }
    }
}

.fade{
    animation: animate-skills 3s ease-in-out;
}

@keyframes animate-skills{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@media all and (max-width: 800px){
    h2{
        font-size: 2em !important;
    }

    p{
        font-size: 1em !important;
    }
}


@media all and (max-width: 600px){
    h2{
        font-size: 1.5em !important;
    }

    .card{
        img{
            width: 40px !important;
            height: 40px !important;
        }

        p{
            font-size: 0.80em !important;
        }
    }
}

@media all and (max-width: 400px){
    .card{
        height: 15% !important;

        .icon-div{
            width: 35px !important;
            height: 35px !important;
            margin-top: -20px !important;
        }
   
        .skill-name{
            p{
                font-size: 0.70em !important;
            }
        }
    }
}   