
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alextodor-primary: mat.define-palette(mat.$indigo-palette);
$alextodor-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alextodor-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alextodor-theme: mat.define-light-theme((
  color: (
    primary: $alextodor-primary,
    accent: $alextodor-accent,
    warn: $alextodor-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($alextodor-theme);

/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}


.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;  

    .project-div{
        width:40%;
        height: 40vh;
        margin: 20px;
        position: relative;

        .overlay{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.705);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h3{
                color: #FA2759;
            }

            p{
                font-size: 20px;
            }

            a{
                background: none;
                border: 1px #FA2759 solid;
                color: #FA2759;
                width: 150px;
                padding: 20px 0px;
                transition: 200ms ease;
                background-color: white;
                text-decoration: none;

                &:hover{
                    background-color: #FA2759;
                    color: white;
                }
            }

            
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.d-none{
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }